.banner-wrapper {
    height: 40vh;
    max-height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.imageBanner {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100vw;
}

.banner-content {
    z-index: 2;
    color: #EEE;
    text-align: center;
}